<!DOCTYPE html>  
<head>
    <title> ML MODEL 1 </title>
</head>



<h1>My First Heading</h1>
<p>My first paragraph.</p>

<body>
<h2> Inputs for ML Model </h2>

    <form action="/sub" method="POST">
        <div>
            <label for="Enter Values (integer)">Enter Values:</label>
            <input type="text" name="cement" placeholder="cement" required>
            <input type="text" name="slag" placeholder="slag" required>
            <input type="text" name="flyash" placeholder="flyash" required>
            <input type="text" name="water" placeholder="water" required>
            <input type="text" name="plasticizer" placeholder="plasticizer" required>
            <input type="text" name="Cagg" placeholder="Cagg" required>
            <input type="text" name="Fagg" placeholder="Fagg" required>
            <input type="text" name="age" placeholder="age" required>
            <input type="submit">
        </div>
        
        
        <div>
        
            <label for="SOlver">Solver:</label>
            <select  name="solver" >
                <option value="GD">GD</option>
                <option value="SVM">SVD</option>
                <option value="SVD">SVM</option>
                <option value="polynomial">polyno</option>
            </select>
             

        <div>
        
    </form>
    


</body>
</html>